<?xml version="1.0"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.example.cleartextplugin" version="1.0.0">
  <name>cleartextplugin</name>
  <description></description>
  <license>NOLICENSE</license>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <platform name="android">
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>
</plugin>